<ul class="nav nav-pills" data-bind="foreach: menus">
  <li role="presentation" data-bind="css : { 'active' : $data == $root.currentMenu() }, click : $root.setCurrentMenu">
  	<a href="#" data-bind="text: $data"></a>
  </li>
</ul>

<button data-bind="click: addItem">Add</button>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>First</th>
			<th>Last</th>
			<th>Full</th>
			<th></th>
		</tr>
	</thead>
	<tbody data-bind="foreach: items">
		<tr>
			<td data-bind="text: firstName"></td>
			<td data-bind="text: lastName"></td>
			<td data-bind="text: fullName"></td>
			<td><a href="#" data-bind="click: $root.removeItem">Remove</a></td>
		</tr>
	</tbody>

</table>
